a {
    border: 2px solid rgb(32, 211, 235);
    position: relative;
    left: 550px;
    background-color: rgb(82, 166, 180);
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    display: inline-block;
    border-radius: 6px;   

} 
div{
    background-color:rgba(68, 146, 146, 0.808);
    
}
body{
    background-image: url('https://wallpaperaccess.com/full/706362.jpg');
    background-repeat: no-repeat;
    background-size: 1500px ;
}